body{
    border-radius:  35%;
    border-color: black;
    border-width: 10px;
    border: 9px;
   border-background-color: red;
}

button{
    border-radius: 10px;
    border-color: black;
    border:5px solid black;
    background-color: red;
}
